*{
	margin:0;
	padding:0;
	font-family: sans-serif;
}

.banner{
	width:100%;
	height:100vh;
	position:relative;
	overflow:hidden;
}

.slider{
	width:100%;
	height:100vh;
	position:absolute;
	top:0;
}

#sliderImg{
	width:100%;
	height:100%;
	animation: zoom 3s linear infinite;
	
}

@keyframe zoom{
	0%{
		transform: scale(1.3);
	}
	15%{
		transform: scale(1);
	}
	85%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.3);
	}
}




.overlay{
	width:100%;
	height:100vh;
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
	position:absolute;
	top:0;
}

.navbar{
	width:90%;
	display:flex;
	align-item:left;
	margin:35px auto;
}

.logo{
	flex-basis:15%;
	
}
.logo img{
	width:120px;
	
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 15px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	margin: 20% 900%;
	font-family: poppins;
	font-size: 20px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 25%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h1 span {
	color: #00fecb;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}

button{
	width:200px;
	padding:15px 0;
	text-align: center;
	margin: 15 10px;
	border-radius:25px;
	font-weight: bold;
	border: 2px solid #fe7250;
	background: #fe7250;
	color: #fff;
	cursor: pointer;
	transition: background 0.5s;	
}
button:hover{
	background:transparent;
	border: 2px solid #fff;
}


	