*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    
    background-color: #f1f1f1;
}

.about-section{
    background: url(https://i.postimg.cc/sf0Nck2g/tr.jpg) no-repeat left;
    background-size: 100%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
	width:100%;
}


.inner-container{
    width: 55%;
    float: right;
    background: transparent;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 5px;
	color: #fff;
    font-size: 50px;
    font-weight: 1000;
}

.text{
    font-size: 19px;
    color: #fff;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}







